<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>Hello World!</h1>
<br/>
<a style="
  background-color: #0037bc;
  border: 2px solid #0037bc;
  border-radius: 20px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
"  onmouseover="this.style.backgroundColor='white';this.style.color='#0037bc';"
   onmouseout="this.style.backgroundColor='#0037bc';this.style.color='white';"
   href="#" onclick="history.back();">Вернуться к задачам</a>
</body>
</html>